@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

.hero {
  background: linear-gradient(#00000070, #00000070, #00000070), url(../../images/hero\ bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  max-height: 795px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1,
.hero h3,
.hero span {
  word-break: break-all;
}

.hero .text1 {
  color: #fff;
  width: fit-content;
  margin: 23px auto;
  font-size: 62px;
  font-weight: 700;
  font-family: 'Lora', serif;
}

.hero .text2 {
  color: #fff;
  max-width: 669px;
  margin-top: 17px;
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
}

.hero .text2 img {
  margin: 0 43px 0 37px;
}

.hero .text2 span {
  color: #c7923e;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 75vh;
    padding: 0 1rem;
  }

  .hero h3,
  .hero h1 {
    margin: 0 auto;
  }
}