@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

* {
  box-sizing: border-box;
}

.naturePhotos {
  width: 100%;
  max-width: 1224px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin: 34px auto;
  padding: 0 10px;
}

.naturePhotos__imageDiv {
  margin: 1rem auto;
  position: relative;
  border: 1px solid #999;
  border-radius: 8px;
  width: 100%;
  max-width: 90vw;
  height: 584px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: 0.5s;
}

.naturePhotos__imageDiv:hover {
  box-shadow: 0 0 10px #222;
}

.naturePhotos__imageDiv--image {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  max-height: 310px;
  z-index: 1;
}

.naturePhotos__imageDiv header {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142d;
  margin: 32px 14px 3px;
}

.naturePhotos__imageDiv p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #000;
  margin: 13px 14px;
}

.naturePhotos__imageDiv--btn {
  width: fit-content;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 12px 14px 32px;
}

.naturePhotos__imageDiv--subBtn {
  border: none;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 600px){
  .naturePhotos {
    grid-template-columns: 1fr;
  }

  .naturePhotos__imageDiv {
    margin: 34px auto;
    max-height: 530px;
  }
}